.category-choice {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.category-choice-btns {
    display: flex;
    gap: 16px;
}

.category-choice > h3 {
    font-size: 16px;
    font-weight: var(--font-weight-4);
    line-height: 30px;
}

@media (max-width: 900px) {
    .category-choice > h3 {
        font-size: 12px;
    }
}