.ancient-entries {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 50px;
}

.ancient-entries > p {
    font-size: 22px;
    line-height: 34px;
    font-weight: var(--font-weight-4);
    color: var(--color-grey-4);
    text-align: left;
}