.btn-delete {
    cursor: pointer;
    border: none;
    width: 22px;
    height: 22px;
    background-color: var(--color-grey-2);
    background-image: url('../../assets/images/btnDeleteDark.svg');
    background-position: center center;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    border-radius: 2.46px;
}

.btn-delete:not(:hover) {
    transition: 0.5s;
    background-color: var(--color-grey-2);
    background-image: url('../../assets/images/btnDeleteDark.svg');
}

.btn-delete:hover {
    transition: 0.5s;
    background-color: var(--color-grey-4);
    background-image: url('../../assets/images/btnDeleteLight.svg');
}